<footer class="blue-background">

<div class="uk-section">

<div class="uk-container tm-container-medium">
  <div class="uk-flex uk-flex-middle" uk-grid>

     <div class="uk-width-2-5@s">
         <div  class="uk-width-small uk-margin-auto">
           <img src="{{ asset('components/logo.svg') }}" alt="">
         </div>
     </div>
     <div class="uk-width-3-5@s">
       <div class="uk-child-width-1-2@s" uk-grid>
         <div>
           <ul class="uk-nav uk-light">
             <li class="uk-nav-header"><h3>Empresa</h3></li>
             <li><a target="_blank" href="{{ asset('uploads/catalogo.pdf') }}" >Catálogo Digital</a></li>
             <li><a href="https://accounts.zoho.com/signin?servicename=VirtualOffice&signupurl=https://workplace.zoho.com/orgsignup.do?signup.html">Mail</a></li>
           </ul>
         </div>
         <div>
           <ul class="uk-nav uk-light">
             <li class="uk-nav-header"><h3>Contacto</h3></li>
             <li><p>bmoreno@byjconstrumetal.cl</p></li>
             <li><p>jvalencia@byjconstrumetal.cl</p></li>
             <li><p>+569 5667 0399</p></li>
             <li><p>+569 7860 9602</p></li>
           </ul>
         </div>
       </div>
     </div>

  </div>
</div>

</div>

</footer>
