<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>

    <div class="uk-navbar-left">

    </div>

    <div class="uk-navbar-right">

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="{{ path('home') }}">Inicio</a></li>
            <li>
                <a href="{{ asset('uploads/catalogo.pdf') }}">Catálogo</a>
            </li>
        </ul>

        <div class="uk-navbar-item">
          <a href="{{ path('contact') }}" class="link-a uk-button">Contacto</a>
        </div>

    </div>

</nav>
